body{
    margin: 0;
    padding: 0;
}

#central{
    background: #353535;
    background: radial-gradient(at left top, #292929, #030303);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 5px 13px #000000;
}

#title{
    color: white;
    font-size: 45px;
    margin-bottom: 0px;
    font-family: 'Moul', cursive;
}

#subtitle{
    margin-top: 0px;
    color: white;
    font-size: 15px;
    font-family: 'Playfair', serif;
    margin-bottom: 100px;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.45em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.45em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

#menu{
  position: fixed;
  top: 15px;
  left: 0;
  padding: 5px 5px 5px 15px;
  background-color: white;
  box-shadow: 2px 2px 12px rgba(32, 32, 32, 0.678);
  z-index: 2;
}
.raya {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: rgb(46, 46, 46);
    margin: 5px 0;
}