body{
    margin: 0;
    padding: 0;
}

#central{
    background: #353535;
    background: radial-gradient(at left top, #292929, #030303);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 5px 13px #000000;
}

#title{
    color: white;
    font-size: 52px;
    margin-bottom: 0px;
    font-family: 'Rubik Dirt', cursive;
}

#subtitle{
    margin-top: 0px;
    color: white;
    font-size: 15px;
    font-family: 'Playfair', serif;
    margin-bottom: 100px;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 1.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.45em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.45em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }


.cajas{
  position: absolute;
  background-color: rgb(255, 255, 255);
}

#caja-derecha-1{
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  -webkit-animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

#caja-derecha-2{
  top: 0;
  right: 80px;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

#caja-derecha-3{
  top: 80px;
  right: 0;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

#caja-izquierda-1{
  bottom: 0;
  left:  0;
  width: 80px;
  height: 80px;
  -webkit-animation: scale-in-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation: scale-in-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
}

#caja-izquierda-2{
  bottom: 0;
  left: 80px;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-in-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation: scale-in-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
}

#caja-izquierda-3{
  bottom: 80px;
  left: 0;
  width: 40px;
  height: 40px;
  -webkit-animation: scale-in-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
  animation: scale-in-bl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) ;
}

 @-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

 @-webkit-keyframes scale-in-bl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

